 <script type="text/javascript" src="http://yatv-museum.ucoz.com/easyXDM.js"></script>
<br /><!-- use css to style this and its contained iframe --><br /><div id="container"></div><br />
<script type="text/javascript" src="js/iframeResizer.contentWindow.min.js" defer></script>
<script type="text/javascript">
var socket = new easyXDM.Socket({
    remote: "new2.html",
});
function showalert() {
        socket.postMessage("Yay, it works!");
    }
</script>
<button onclick="showalert()">Click here to execute onclick</button>
