 <?php 

$query = 'select id, full_name, username, skype, vkcom, userinfo, ava from usertbl where username="'.$curruser.'"';
$result = $connection->query($query);
while($row = mysqli_fetch_array($result)) 
{

$fullname=$row['full_name'];

$username = $row['username'];
$full_name=$row['full_name'];
$cid = $row['id'];
$skype=$row['skype'];
$vkcom = $row['vkcom'];
$userinfo=$row['userinfo'];
$ava = $row['ava'];

}
?>
<div class="blackbox" style=" width: auto;">
<div class="blackbox_tl"></div>
<div class="blackbox_tc"></div>
<div class="blackbox_tr"></div>
<div class="blackbox_cw">
<div class="blackbox_c" style="">
<div class="blackbox_ci"> 
<div class="block-head-bg"></div>
<div class="block-head">
<div class="block-head-right">
<div class="block-title">Пользователь &rarr; <span class="darkblue">
<?php echo $username; ?>

</span></div>

<div class="block-buttons">
 

 <?php if ($username!=$myname and $myname!='') {
echo '<a title="Добавить в друзья" id="addlike" class="addlike block-buttons-bg"><span id="addlikespan" class="block-head-icon-userplus"></span></a>';
 echo '<a title="Написать сообщение" href="../mail?user=';
 echo $username;
 echo '" class="block-buttons-bg"><span class="block-head-icon-mail"></span></a>';}; ?>

<script>
$(document).ready(function(){
$("#addlike").click(function(){
var userid = '<?php echo $myuserid; ?>';
var materialid = "<?php echo $cid; ?>";
var module = "fr";
var dataString = 'userid1='+ userid + '&materialid1='+ materialid + '&module1='+ module;
$.ajax({
type: "POST",
url: "likesubmit.php",
data: dataString,
cache: false,
success: function(result){
 if ($("#addlikespan").hasClass("block-head-icon-userplus"))  {

	 	  	 	    document.getElementById("addlikespan").className = "block-head-icon-usermin"; 
  }
else {

	 	  	 	    document.getElementById("addlikespan").className = "block-head-icon-userplus";  	 	  
}
}
});

return false;
});
});
</script>
<script>
$(document).ready(function(){
$("#addlike").click(function(){
 if ($("#addlikespan").hasClass("block-head-icon-userplus"))  {
var msgtext = 'Пользователь <?php echo $_COOKIE['session_username'] ?> добавил вас в свой список друзей';
var receiver = '<?php echo $curruser ?>';
var dataString = 'msgtext1='+ msgtext + '&receiver1='+ receiver;
$.ajax({
type: "POST",
url: "../smailsubmit.php",
data: dataString,
cache: false,
success: function(result){
}
});

return false;
}
});

});
</script>
 <?php

$query = 'select id, materialid, module  from likes where module="fr" and id="'.$myuserid.'" and materialid="'.$cid.'"';
$result = $connection->query($query);
if (mysqli_num_rows($result)<>0) echo '<script>
document.getElementById("addlikespan").className = "block-head-icon-usermin";</script>';
?>
 

</div>
</div> 
</div>
<div class="block-content">
<div class="channelinfoblock userinfoblock">
<div class="left">

<?php if($ava<>'') {echo  '<a class="logo"
 href="#" style="background: url('.$ava.') no-repeat center center; background-size: 100px; "><span class="border_logo"></span></a>'; } else {
	 echo '<a class="logo" href="#" style="background: url(\'http://yatv-museum.ucoz.com/default_user_avatar.png\') no-repeat center center; " ></a>  ';} ?>  

</div> 
<div class="right"> 
<div class="info">
 <div class="params">
<div class="label" style="width: 75px;">Имя:</div>
<div class="value white"> <?php if($fullname<>'') {echo  $fullname;} else {echo 'Не указано';}?> </div>
</div>
<div class="params">
<div class="label" style="width: 75px;">Профиль ВК:</div>
<div class="value white"> <?php if($vkcom<>'') {echo  $vkcom;} else {echo 'Не указан';}?> </div>
</div>
<div class="params">
<div class="label" style="width: 75px;"> Skype:</div>
<div class="value white"><?php if($skype<>'') {echo  $skype;} else {echo 'Не указан';}?>  </div>
</div>

</div> 
<div class="clear_both"></div> 
</div>
<div class="clear_both"></div> 
<div class="description">
<div class="readmore">
<?php if($userinfo<>'') {echo  $userinfo;} else {echo 'Нет информации о пользователе';}?></div> 
</div> 
<ul class="usermenu">
<li><div class="icon s_icon_profile"></div><a <?php if ($currstr=='up') {echo 'class = "grey" ';}; ?> href="account,userinfo?user=<?php echo $username;?>" > Профиль пользователя</a></li>
<li><div class="icon s_icon_favrecords"></div><a <?php if ($currstr=='re') {echo 'class = "grey" ';}; ?> href="account,records?user=<?php echo $username;?>" >Избранные записи пользователя</a></li>
<li><div class="icon s_icon_programs"></div><a <?php if ($currstr=='pr') {echo 'class = "grey" ';}; ?> href="account,programs?user=<?php echo $username;?>" >Личное расписание пользователя</a></li>
<li><div class="icon s_icon_favchannels"></div><a <?php if ($currstr=='uc') {echo 'class = "grey" ';}; ?> href="account,channels?user=<?php echo $username;?>">Избранные телеканалы пользователя</a></li>
<li><div class="icon s_icon_friends"></div><a <?php if ($currstr=='fr') {echo 'class = "grey" ';}; ?> href="account,friends?username=<?php echo $username;?>">Друзья пользователя </a> </li>
<li class="last"><div class="icon s_icon_friends"></div><a <?php if ($currstr=='infr') {echo 'class = "grey" ';}; ?> href="account,friendof?username=<?php echo $username;?>">В друзьях у пользователей</a></li>
</ul> 
<div class="clear_both"></div>
</div>
</div>
<div class="clear_both"></div>
</div><div class="clear_both"></div>
</div></div>
<div class="blackbox_bl"></div>
<div class="blackbox_bc"></div>
<div class="blackbox_br"></div>
</div>

</div>