<head>
  <link href="css.css" rel="stylesheet">

  <!-- If you'd like to support IE8 -->
  <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
</head>
<style>
.vjs-poster:hover {    background-image: url("player/bg.hover.png") !important;}
</style>

<body>

  <video id="my-video" class="video-js" controls preload="auto" width="586" height="330"
  poster="player/bg.png" data-setup="{}">

     <source src="rtmp://62.109.9.163:1935/live/test" type='rtmp/mp4' />
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
  </video>



  <script src="http://vjs.zencdn.net/5.8.6/video.js"></script>
</body>